<form action='/add' method='post'>
  <h1>Cadastro de postagem</h1>
  <h3>Titulo:</h3>
  <input type='text' name='titulo' id='' />
  <h3>Conteudo:</h3>
  <textarea name='conteudo'></textarea>
  <button type='submit'>Cadastrar postagem</button>
</form>